<span xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  <ul>
    <li>
      <input type="checkbox" name="announcer_blog_all_posts" checked="${data.announcer_blog_all_posts}" value="1" /> Notify my of any blog changes.
    </li>
    <li>
      <input type="checkbox" name="announcer_blog_all_posts" checked="${data.announcer_blog_all_posts}" value="1" /> Notify my of any blog changes.
    </li>
    <li>
      <input type="checkbox" name="announcer_blog_all_posts" checked="${data.announcer_blog_all_posts}" value="1" /> Notify my of any blog changes.
    </li>
    <li>
      <label for="blog_authors">Blog authors to follow:
        <input id="blog_authors" type="text" name="announcer_blog_author_posts" value="${data.announcer_blog_author_posts}"/>
      </label>
    </li>
  </ul>
</span>
